body {
    background-color: #F9ECE5; 
    color: #014B43; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


header {
    background: linear-gradient(#014B43, #099078);
    color: white;
    text-align: center;
    padding: 50px 20px;
    
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

header p {
    color: #FFD6D1;
    font-size: 16px;
    margin-bottom: 25px;
}


nav a {
    background-color: #ffffff;
    color: #014B43;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
    margin: 4px;
    display: inline-block;
}

nav a:hover {
    background-color: #9C2113;
    color: white;
}


main {
    width: 80%;
    max-width: 800px;
    margin: 30px auto;
}


section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-left: 5px solid #099078;
}

section h2 {
    margin-top: 0;
    color: #014B43;
}

section p {
    color: #333333;
    line-height: 1.5;
}

.categoria-tag {
    color: #9C2113;
    font-size: 12px;
    font-weight: bold;
}




.esconder-checkbox {
    display: none;
}


.texto-explicacao {
    display: none;
    margin-top: 8px;
    margin-bottom: 5px;
    padding-left: 10px;
    color: #333333;
}


.esconder-checkbox:checked ~ .texto-explicacao {
    display: block;
}


.palavra-clicavel {
    cursor: pointer;
    user-select: none; 
    display: inline-block;
    padding: 4px 0;
}


.lista-metodos {
    list-style: none;
    padding-left: 0;
}

.lista-metodos li {
    margin-bottom: 12px;
}


.rodape {
    
    color: #000000;            
    text-align: center;        
    padding: 30px 20px;        
    margin-top: 40px;          
    
}



.tabela-container {
    width: 100%;
    overflow-x: auto;
    margin-top: 15px;
}

table {
    width: 100%;
    border-collapse: collapse; 
    font-size: 14px;
    text-align: left;
}


table td {
    padding: 10px 12px;
    border: 1px solid #dddddd;  
    color: #333333;
}









